{% extends 'homepage.html' %}
{% block content %}
<div class="p"></div>
<div class="container">
    <div class="div">
    <form action="" method="post">
        <h1 style="color:greenyellow"><center>LOGIN FORM </center></h1>
        <center><p class="hi3">Username:<input style="
            margin: 8px 0;
            box-sizing: border-box;" type="text" name="name" placeholder="enter username" size="30px"><br>
        Password:<input style="
        margin: 8px 0;
        box-sizing: border-box;" type="password" name="password" placeholder="enter password"size="30px"><br>
        <button class="btn">LOGIN</button></p></center>
    </form>
</div>
</div>
</div>
{% endblock %}