{% extends 'homepage.html' %}
{% block content %}
<div class="container">
<center><div class="div">
    <form action="" method="POST">
        <p class="hi3">Title:<input style="
            margin: 8px 0;" type="text" name="title" size="30px"><br>
        Content:<input style="
        margin: 8px 0;" type="text" name="content" size="30px"><br>
        Slug:<input style="
        margin: 8px 0;" type="text" name="slug" size="30px"><br>
        <button class="btn2">submit</button></p>
    </form></div>
</center>
</div>
{% endblock %}